html, body {
    min-height: 100%;
}

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 10px;
    background: #e1e4ef;
    font: 16px Helvetica, Arial, sans-serif;
}

ul {
    display: flex;
    margin: 0;
    justify-content: space-between
}

li {
    list-style: none;
}

main p {
    font-size: 24px;
    line-height: 1;
}